*{
	padding:0px;
	border:0px;
	margin:0px;
}

body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-sarrif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	overflow:hidden;
	margin-left:15%;
	margin-right:15%;
	position:relative;
}

#main-header{
	background-color:coral;
	color:white;
	height:55px;
	text-align:center;
	padding-top:25px;
}

#navbar{
	background-color:red;
	height:50px;
}

.container h1{
	position:relative;
	line-height:3em;
	text-align:center;
}

#navbar ul{
	list-style-type:none;
	text-align:center;
	vertical-align:center;
	overflow:hidden;

}
#navbar li{
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	width:10%;
	float:left;
}
#navbar a{
	color:white;
	background-color:rgb(255,100,60);
	background-size:20px 30px;
	padding-top:15px;
	padding-bottom:15px;
}

#navbar a:hover{
	color:white;
	background-color:black;
	text-decoration:underline;
}

#navbar a:active{
	color:black;
	text-decoration:none;
}

.rightSideBar{
  height: 100%;
  width: 10%; 
  position: fixed; 
  top: 130px; 
  left: 90%;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
}

.leftSideBar{
  height: 100%;
  width: 10%;
  position: fixed;
  top: 130px;
  left: 0%;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
}
